<phpunit bootstrap="test/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Eye4web Zf2BoardTest">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./config</directory>
                <directory suffix=".php">./src/Eye4web/Zf2Board/Entity</directory>
                <file>./src/Eye4web/Zf2Board/Mapper/AuthorMapperInterface.php</file>
                <file>./src/Eye4web/Zf2Board/Mapper/BoardMapperInterface.php</file>
                <file>./src/Eye4web/Zf2Board/Mapper/PostMapperInterface.php</file>
                <file>./src/Eye4web/Zf2Board/Mapper/TopicMapperInterface.php</file>
                <file>./src/Eye4web/Zf2Board/Options/ModuleOptionsInterface.php</file>
                <file>./src/Eye4web/Zf2Board/Service/SlugServiceInterface.php</file>
                <file>./Module.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>